.intro-bg {
    /* height: 75vh; */
    width: 100%;
    background: linear-gradient(to right, rgb(21, 16, 40) 30%, rgba(21, 16, 40, 0.5), rgba(0, 0, 0, 0) 100%), url("/bg.jpg");
    background-size: cover;
    background-position-x: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}


.intro {
    width: 55%;
    letter-spacing: 2px;
    line-height: 3rem;
    
}

.intro h2 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4rem;
}

.intro-bg img {
    height: 50%;
    border: 3px rgb(105, 255, 195) solid;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(105, 255, 195), 0 0 20px rgb(105, 255, 195) inset;
}

@media (max-width: 700px) {

    .intro-bg {
        background: linear-gradient(rgb(21, 16, 40) 30%, rgba(21, 16, 40, 0.5), rgba(0, 0, 0, 0) 100%), url("/bg.jpg");
        flex-direction: column;
        height: 90vh;
    }

    .intro {
        width: 75%;
        letter-spacing: 2px;
        line-height: 2rem;
    }

    .intro h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .intro-bg img {
        height: 40%;
    }
}