.pastExperience {
    background-color: rgb(21, 16, 40);
    color: white;
}

.pastExperience>hr {
    height: 1px;
    background: linear-gradient(to right, rgb(0, 0, 0), white, rgb(0, 0, 0));
    border: none;
}

.cloudafe  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.cloudafe img {
    width: 10rem;
    border: 2px solid rgb(47, 213, 255);
    border-radius: 5px;
}

.cloudafe>hr {
    width: 10rem;
    margin-top: 0.5rem;
    border: none;
    height: 1px;
    background: linear-gradient(to right, rgb(21, 16, 40), white, rgb(21, 16, 40));
}

.cloudafe .verticle {
    width: 1px;
    border: none;
    height: 3rem;
    background-color: white;
}

.cloudafe h3 {
    font-size:1.3rem;
    font-weight: 500;
    color: rgb(200, 155, 255);
}

.cloudafe p {
    font-size:0.9rem;
    color: rgb(100, 100, 100);
    width: 10rem;
    line-height: 1rem;
}

@media (max-width: 600px) {
    .cloudafe {
        padding: 3rem 0rem;
    }
}