.projectCard {
    height: 16rem;
    width: 12rem;
    background-color: rgba(39, 219, 255, 0.178);
    border: 1px solid rgb(145, 145, 145);
    border-radius: 10px;
    padding: 1rem;
}

.projectCard img  {
    height: 8rem;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.projectCard p {
    font-size: 13px;
    margin: 0.5rem;
    line-height: 1rem;
}